<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">
			<div class="page-title-box">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<h4 class="page-title">Doctors Availabilty</h4>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-right">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
							<li class="breadcrumb-item active">Doctors Availabilty</li>
						</ol>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end page-title -->
			<div class="row">
				<div class="col-xl-12">
					<div class="card m-b-30">
						<div class="card-body">
							<div class="slt_hps">
								<div class="form-group row m-b-30">
									<label class="col-sm-4 col-form-label">Select Hospital List</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option>Select Hospital</option>
											<option>Large select</option>
											<option>Small select</option>
										</select>
									</div>
								</div>
							</div>
							<div class="doc_avail">
								<div class=" text-center">
									<h5 class="mt-0 m-b-30">Departwise Doctor Availability Hospital Name </h5>
								</div>
								<div class="dep_doc">
									<h3 class="mt-0 header-title mb-4">cardiology</h3>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 1</h6>
										</div>
										<div class="col-sm-3"><input class="form-control" type="text"></div>
										<div class="col-sm-3"><input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>

										</div>
									</div>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 1</h6>
										</div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>
										</div>
									</div>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 1</h6>
										</div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>
										</div>
									</div>
								</div>
								<div class="dep_doc">
									<h3 class="mt-0 header-title mb-4">General Medicine</h3>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 1</h6>
										</div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>
										</div>
									</div>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 2</h6>
										</div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>
										</div>
									</div>
									<div class="row m-b-20">
										<div class="col-sm-3">
											<h6>Slot 3</h6>
										</div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3"> <input class="form-control" type="text"></div>
										<div class="col-sm-3">
											<div class="onoff">
												<span class="sl_opt">No</span>
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
												<span class="sl_opt">Yes</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="dep_doc">
								<h3 class="mt-0 header-title mb-4">Orthopedic</h3>
								<div class="row m-b-20">
									<div class="col-sm-3">
										<h6>Slot 1</h6>
									</div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3">
										<div class="onoff">
											<span class="sl_opt">No</span>
											<label class="switch">
												<input type="checkbox">
												<span class="slider round"></span>
											</label>
											<span class="sl_opt">Yes</span>
										</div>
									</div>
								</div>
								<div class="row m-b-20">
									<div class="col-sm-3">
										<h6>Slot 2</h6>
									</div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3">
										<div class="onoff">
											<span class="sl_opt">No</span>
											<label class="switch">
												<input type="checkbox">
												<span class="slider round"></span>
											</label>
											<span class="sl_opt">Yes</span>
										</div>
									</div>
								</div>
								<div class="row m-b-20">
									<div class="col-sm-3">
										<h6>Slot 3</h6>
									</div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3"> <input class="form-control" type="text"></div>
									<div class="col-sm-3">
										<div class="onoff">
											<span class="sl_opt">No</span>
											<label class="switch">
												<input type="checkbox">
												<span class="slider round"></span>
											</label>
											<span class="sl_opt">Yes</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
