<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">DOCTOR REGISTRATION FORM</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/doctors">Doctors</a></li>
              <li class="breadcrumb-item active">Doctor Registration Form</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="pt_signup">
                  <div>
                    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
                    <div class="row">
                      <div class="col-lg-7">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Doctor Name</label>
                          <div class="col-sm-7">
                            <input class="form-control" type="text" name="doctor_name" ngModel>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Qualification</label>
                          <div class="col-sm-7">
                            <input class="form-control" type="text" name="qualification" ngModel>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Mobile Number</label>
                          <div class="col-sm-7">
                            <input class="form-control" type="text" name="mobile" ngModel>
                          </div>
                        </div>
						<div class="form-group row">
                          <label class="col-sm-5 col-form-label">Active Status</label>
                          <div class="col-sm-7">
                            <select class="form-control" name="active_status" ngModel>
                                <option value="">Select Status</option>
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                            </select>
                          </div>
                        </div>
						<div class="col-sm-12">
							<div class="row depart_check">
								<div class="col-sm-12">
									<h3>Departments</h3>
								</div>
								<div class="col-md-12">
									<div class="checkbox checkbox-primary" *ngFor="let department of departments">
									  <div class="custom-control custom-checkbox">
										<input type="checkbox" (change)="onChange(department.id, $event.target.checked)" class="custom-control-input" id="customCheck{{department.id}}">
										<label class="custom-control-label" for="customCheck{{department.id}}"><img src="assets/images/{{department.icon_name}}">  {{department.department_name}}</label>
									  </div>
									</div>
								</div>
							</div>
						</div>
                      </div>
					  
                    </div>
                    <div class="row">
                      <div class="col-lg-7">
                        <div class="form-group row">
                          <div class="text-center">
                            <button type="submit" class="btn btn-info btn-sm waves-effect waves-light">Submit</button>
                            <button type="button" class="btn btn-danger btn-sm waves-effect waves-light">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
  </div>
</div>
    <!-- content -->