<!-- Begin page -->

  <!-- Top Bar Start -->
  <div class="topbar" >
    <!-- LOGO -->
    <div class="topbar-left">
      <a routerLink="/" class="logo">
        <span class="logo-light">Komodo Health</span>
        <span class="logo-sm"><i class="mdi mdi-camera-control"></i></span>
      </a>
    </div>

    <nav class="navbar-custom" >
      <ul class="navbar-right list-inline float-right mb-0">
        <li class="dropdown notification-list list-inline-item">
          <div class="dropdown notification-list nav-pro-img">
            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="false"
              aria-expanded="false">
              Hello {{uname}} <img src="assets/images/users/user-4.png" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
              <!-- item-->
              <a class="dropdown-item" routerLink="/account-settings"><i class="mdi mdi-account-circle"></i> My Profile</a>
			  <a class="dropdown-item" routerLink="/change-password"><i class="mdi mdi-lock-open-outline"></i> Password</a>
              <!--<a class="dropdown-item" routerLink="#"><i class="mdi mdi-wallet"></i> Wallet</a>
              <a class="dropdown-item d-block" routerLink="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i> Settings</a>-->
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="logout()"><i class="mdi mdi-power text-danger"></i> Logout</a>
            </div>
          </div>
        </li>
      </ul>

      <ul class="list-inline menu-left mb-0">
        <li class="float-left">
          <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Top Bar End -->

  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu" >
    <div class="slimscroll-menu" id="remove-scroll">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu" id="side-menu">
          <li>
            <a routerLink="/dashboard" class="waves-effect" routerLinkActive="mm-active">
              <i class="fas fa-home"></i><span class="badge badge-success badge-pill float-right">9+</span> <span> Dashboard </span>
            </a>
          </li>
		  <li>
            <a routerLink="/doctors-availability" class="waves-effect" routerLinkActive="mm-active"><i class="fa fa-user-md"></i><span> Doctors Availability</span></a>
          </li>
          <li>
            <a routerLink="/patients" class="waves-effect" routerLinkActive="mm-active"><i class="fas fa-users"></i><span> Patients </span></a>
          </li>
          <li>
            <a routerLink="/departments" class="waves-effect" routerLinkActive="mm-active"><i class="icon-spread"></i><span> Departments </span></a>
          </li>
          <li>
            <a routerLink="/hospitals" class="waves-effect" routerLinkActive="mm-active"><i class="far fa-hospital"></i><span> Hospitals </span></a>
          </li>
          <li>
            <a routerLink="/doctors" class="waves-effect" routerLinkActive="mm-active"><i class="fa fa-user-md"></i><span> Doctors </span></a>
          </li>
		  <li>
            <a routerLink="/mapping-doctors" class="waves-effect" routerLinkActive="mm-active"><i class="far fa-hospital"></i><span> Mapping doctors </span></a>
          </li>
		  <li>
            <a routerLink="/doctors-timetable" class="waves-effect" routerLinkActive="mm-active"><i class="fa fa-user-md"></i><span> Doctors Timetable</span></a>
          </li>
          <li>
            <a routerLink="/users" class="waves-effect" routerLinkActive="mm-active"><i class="fas fa-users"></i><span> Users </span></a>
          </li>
          <li>
            <a routerLink="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Management <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
              <li><a routerLink="javascript:void(0);">Pricing</a></li>
              <li><a routerLink="javascript:void(0);">Invoice</a></li>
              <li><a routerLink="javascript:void(0);">Agreements</a></li>
              <li><a routerLink="javascript:void(0);">Statistics</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->

  
