<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">DEPARTMENTS</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
              <li class="breadcrumb-item active">Departments List</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <!--<h4 class="mt-0 header-title mb-4">Active Deals</h4>-->
              <div>
                <a routerLink="/departments/add-department" class="btn btn-success btn-sm">Add Department</a>
              </div>
              <div class="table-responsive">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let department of departments; let i = index">
                      <td>{{i+1}}</td>                      
                      <td>{{department.department_name}}</td>
                      <td>{{department.description}}</td>
                      <td>
                        <div>
                          <a href="#" class="btn btn-primary btn-sm">Edit</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ROW -->
    </div>
    <!-- container-fluid -->
  </div>
</div>