<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">DOCTOR DETAILS</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/doctor">Doctor</a></li>
              <li class="breadcrumb-item active">Doctor Details</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="table-responsive">
                  <table class="table table-striped viewpg" *ngIf="doctor">
					<tr><th>Doctor Name</th><td>:</td><td>{{doctor.doctor_name}}</td></tr>
					<tr><th>Qualification</th><td>:</td><td>{{doctor.qualification}}</td></tr>
					<tr><th>Mobile</th><td>:</td><td>{{doctor.mobile}}</td></tr>
					<tr><th>Departments</th><td>:</td><td><span *ngFor="let department of departments; last as lastone">{{department.department_name}}{{!lastone?',':''}} </span></td></tr>
					<tr><th>Status</th><td>:</td><td>{{doctor.active_status?'Yes':'No'}}</td></tr>
				  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
  </div>
</div>
    <!-- content -->