<div class="row">
	<div class="col-xl-12">
	  <div class="card m-b-30">
		<div class="card-body">
		  <div>
			<div class="table-responsive">
			  <table class="table table-striped viewpg" *ngIf="cur_patient">
				<tr><th>Patient Unique Code</th><td>:</td><td>{{cur_patient.patient_unique_code}}</td></tr>
				<tr><th>Patient Name</th><td>:</td><td>{{cur_patient.patient_name}}</td></tr>
				<tr><th>Patient Address</th><td>:</td><td>{{cur_patient.address}}</td></tr>
				<tr><th>Patient Locality</th><td>:</td><td>{{cur_patient.locality}}</td></tr>
				<tr><th>Patient Contact</th><td>:</td><td>{{cur_patient.patient_mobile}}</td></tr>
				<tr><th>Helper Name</th><td>:</td><td>{{cur_patient.helper_name}}</td></tr>
				<tr><th>Helper Contact</th><td>:</td><td>{{cur_patient.helper_mobile}}</td></tr>
				<tr><th>Problem Description</th><td>:</td><td>{{cur_patient.problem_description}}</td></tr>										
				<tr><th>Admitted Department</th><td>:</td><td>{{cur_patient.department_name}}</td></tr>
				<tr><th>Ambulance Needed</th><td>:</td><td>{{cur_patient.avail_ambulance?'Yes':'No'}}</td></tr>
				<tr><th><input type="button" class="btn btn-sm btn-primary" value="Next"></th><td></td><td></td></tr>
			  </table>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="row">
	<div class="col-xl-12">
	  <div class="card m-b-30">
		<div class="card-body">
			hospital list go here
		</div>
	  </div>
	</div>
  </div>
  