<div class="row">
	<div class="col-xl-12">
	  <div class="card m-b-30">
		<div class="card-body">
		  <div>
			<div class="table-responsive">
			  <table class="table table-striped viewpg" *ngIf="cur_patient">
				<tr><th>Patient Unique Code</th><td>:</td><td>{{cur_patient.patient_unique_code}}</td></tr>
				<tr><th>Patient Name</th><td>:</td><td>{{cur_patient.patient_name}}</td></tr>
				<tr><th>Patient Address</th><td>:</td><td>{{cur_patient.address}}</td></tr>
				<tr><th>Patient Locality</th><td>:</td><td>{{cur_patient.locality}}</td></tr>
				<tr><th>Patient Contact</th><td>:</td><td>{{cur_patient.patient_mobile}}</td></tr>
				<tr><th>Helper Name</th><td>:</td><td>{{cur_patient.helper_name}}</td></tr>
				<tr><th>Helper Contact</th><td>:</td><td>{{cur_patient.helper_mobile}}</td></tr>
				<tr><th>Problem Description</th><td>:</td><td>{{cur_patient.problem_description}}</td></tr>										
				<tr><th>Referred Department</th><td>:</td><td>{{cur_patient.department_name}}</td></tr>
				<tr><th>Ambulance Needed</th><td>:</td><td>{{cur_patient.avail_ambulance?'Yes':'No'}}</td></tr>
				<tr><th><button class="btn btn-sm btn-primary" (click)="getHospitalList(cur_patient.patient_unique_code)">Search Nearest Hospitals</button></th><td></td><td></td></tr>
			  </table>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="row" *ngIf="show_hospitals">
	<div class="col-xl-12">
	  <div class="card m-b-30">
		<div class="card-body">
			<h4>Nearest Hospitals List</h4>
			<hr>			
				<div class="row" *ngFor="let hospital of hospitals">
					<div class="col-md-2">
						Hospital Name:<br>
						Hospital Address:<br>
						Hospital Area:<br>
						Hospital Phone:<br>
						Distance:<br>
					</div>
					<div class="col-md-8">
						{{hospital.hospital_name}}<br>
						{{hospital.hospital_address}}<br>
						{{hospital.hospital_locality}}<br>
						{{hospital.hospital_phone1}}<br>
						{{hospital.distance}} Km<br>
					</div>
				<hr>
				</div>
			<br>	
			<div class="row">
				<div class="col-md-8">
				<button class="btn btn-sm btn-primary" (click)="showMessage()">Send Message to patient</button>
				</div>
				<div class="col-md-8">
				{{sms_text}}
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
  