<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">
			<div class="page-title-box">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<h4 class="page-title">Department wise doctors availability in hospitals</h4>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-right">
							<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
							<li class="breadcrumb-item active">Doctors Availabilty</li>
						</ol>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end page-title -->
			<div class="row">
				<div class="col-xl-12">
					<div class="card m-b-30">
						<div class="card-body">
							<div class="doc_avail">
								<div class=" text-center">
									<h5 class="mt-0 m-b-30">Department wise doctors availability in hospitals</h5>
								</div>

								<div class="hospitals_doc">
									<div class="masonry">
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>

												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i>Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>

												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>

												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>

												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
										<div class="brick">
											<div class="hos_depart">
												<h2>Hospital Name</h2>
												<span>91884-2359987</span>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>

												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
												<div class="depart_grid">
													<h3>Cardiology</h3>
													<ul>
														<li class="dr_avail"><i class="mdi mdi-arrow-right"></i> Mr.Subbarao MD</li>
														<li class="dr_unavail"><i class="mdi mdi-arrow-right"></i> Miss.Vijaya Lakshmi MS</li>

													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>