<!-- <app-page-title [pageTitle]="pageTitle"></app-page-title> -->
<!-- starts here -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">CHANGE PASSWORD</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Change password</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="pt_signup">
                  <div>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
                      <div class="row">
                        <div class="col-lg-7">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Old Password</label>
                            <div class="col-sm-7">
                              <input class="form-control" type="password" placeholder="Enter Old Password"
                                formControlName="old_password"
                                [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.old_password.errors }">
                              <div *ngIf="submitted && changePasswordForm.controls.old_password.errors"
                                class="invalid-feedback">
                                <div *ngIf="submitted && changePasswordForm.controls.old_password.errors?.required">
                                  Please enter old password.</div>
                                <div *ngIf="submitted && changePasswordForm.controls.old_password.errors?.minlength">
                                  Password should be minimum of 6 characters.</div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Password</label>
                            <div class="col-sm-7">
                              <input class="form-control" type="password" placeholder="Enter Old Password"
                                formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.password.errors }">
                              <div *ngIf="submitted && changePasswordForm.controls.password.errors"
                                class="invalid-feedback">
                                <div *ngIf="submitted && changePasswordForm.controls.password.errors?.required">
                                  Please enter password.</div>
                                <div *ngIf="submitted && changePasswordForm.controls.password.errors?.minlength">
                                  Password should be minimum of 6 characters.</div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Confirm Password</label>
                            <div class="col-sm-7">
                              <input class="form-control" type="password" placeholder="Enter Confirm Password"
                                formControlName="confirm_password"
                                [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.confirm_password.errors }">
                              <div *ngIf="submitted && changePasswordForm.controls.confirm_password.errors"
                                class="invalid-feedback">
                                <div *ngIf="submitted && changePasswordForm.controls.confirm_password.errors?.required">
                                  Please enter confirm password.</div>
                                <div
                                  *ngIf="submitted && changePasswordForm.controls.confirm_password.errors?.minlength">
                                  Confirm Password should be minimum of 6 characters.</div>
                                <div
                                  *ngIf="submitted && changePasswordForm.controls.confirm_password.errors?.mustMatch">
                                  Both passwords must match.</div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <div class="text-center">
                              
                              <!-- <button type="submit" 
                              class="btn btn-info btn-sm waves-effect waves-light">Submit</button> -->
                              <button class="btn btn-info btn-sm waves-effect waves-light">
                                <span>Update Password</span>
                              </button>
                              <button type="button"
                                class="btn btn-danger btn-sm waves-effect waves-light">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



<!-- ends here -->

<div class="row">
  <div class="col-xl-12">
    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
      <div class="sms-card">
        <div class=" p-3 ">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="">Old Password<span class="text-danger">*</span></label>
              <input type="password" class="form-control" autocomplete="off" name="password"
                placeholder="Enter Old Password" formControlName="old_password">
              <span *ngIf="submitted && changePasswordForm.controls.old_password.errors?.required"
                class="form-text text-danger">Please
                enter old password.</span>
              <span *ngIf="submitted && changePasswordForm.controls.old_password.errors?.minlength"
                class="form-text text-danger">Password should be minimum of 6 characters.</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="">Password<span class="text-danger">*</span></label>
              <input type="password" class="form-control" autocomplete="off" name="password"
                placeholder="Enter Password" formControlName="password">
              <span *ngIf="submitted && changePasswordForm.controls.password.errors?.required"
                class="form-text text-danger">Please
                enter new password.</span>
              <span *ngIf="submitted && changePasswordForm.controls.password.errors?.minlength"
                class="form-text text-danger">New Password should be minimum of 6 characters.</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="">Confirm Password<span class="text-danger">*</span></label>
              <input type="password" class="form-control" autocomplete="off" name="confirm_password"
                placeholder="Enter Confirm Password" formControlName="confirm_password">
              <span *ngIf="submitted && changePasswordForm.controls.confirm_password.errors?.required"
                class="form-text text-danger">Please enter confirm password.</span>
              <span *ngIf="changePasswordForm.controls.confirm_password.errors?.mustMatch"
                class="form-text text-danger">Both
                passwords
                must match.</span>
            </div>
          </div>
        </div>
        <div class="card-footer bg-white" align="right">
          <!-- <button class="sms-btn-secondary sms-btn-mgtop8">Clear</button> -->
          <a [routerLink]="['/users']" class="sms-btn-secondary sms-btn-mgtop8">Cancel</a>
          &nbsp;&nbsp;
          <button class="sms-btn  sms-btn-mgtop8">
            <span>Update Password</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>