<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">USER DETAILS</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/users">USERS</a></li>
              <li class="breadcrumb-item active">USER Details</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="table-responsive">
                  <table class="viewpg">
					<tr><th>User Name</th><td>:</td><td></td></tr>
					<tr><th>Mobile</th><td>:</td><td></td></tr>
					<tr><th>Email</th><td>:</td><td></td></tr>
					<tr><th>Role</th><td>:</td><td></td></tr>
					<tr><th>Status</th><td>:</td><td></td></tr>
				  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
  </div>
