<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">PATIENT DETAILS</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/patients">Patients</a></li>
              <li class="breadcrumb-item active">Patient Details</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="table-responsive">
                  <table class="table table-striped viewpg" *ngIf="patient">
					<tr><th>Patient Unique Code</th><td>:</td><td>{{patient.patient_unique_code}}</td></tr>
					<tr><th>Patient Name</th><td>:</td><td>{{patient.patient_name}}</td></tr>
					<tr><th>Patient Address</th><td>:</td><td>{{patient.address}}</td></tr>
					<tr><th>Patient Locality</th><td>:</td><td>{{patient.locality}}</td></tr>
					<tr><th>Patient Contact</th><td>:</td><td>{{patient.patient_mobile}}</td></tr>
					<tr><th>Helper Name</th><td>:</td><td>{{patient.helper_name}}</td></tr>
					<tr><th>Helper Contact</th><td>:</td><td>{{patient.helper_mobile}}</td></tr>
					<tr><th>Problem Description</th><td>:</td><td>{{patient.problem_description}}</td></tr>										
					<tr><th>Admitted Department</th><td>:</td><td>{{patient.department_name}}</td></tr>
					<tr><th>Ambulance Needed</th><td>:</td><td>{{patient.avail_ambulance?'Yes':'No'}}</td></tr>
				  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
  </div>
