<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">HOSPITAL DETAILS</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/hospitals">Hospitals</a></li>
              <li class="breadcrumb-item active">Hospital Details</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div>
                <div class="table-responsive">
                  <table class="table table-striped viewpg" *ngIf="hospital">
					<tr><th>Hospital Name</th><td>:</td><td>{{hospital.hospital_name}}</td></tr>
					<tr><th>Hospital Address</th><td>:</td><td>{{hospital.hospital_address}}</td></tr>
					<tr><th>Hospital Locality</th><td>:</td><td>{{hospital.hospital_locality}}</td></tr>
					<tr><th>Hospital Phone 1</th><td>:</td><td>{{hospital.hospital_phone1}}</td></tr>
					<tr><th>Hospital Phone 2</th><td>:</td><td>{{hospital.hospital_phone2}}</td></tr>
					<tr><th>PRO Name</th><td>:</td><td>{{hospital.pro_name}}</td></tr>
					<tr><th>PRO Contact</th><td>:</td><td>{{hospital.pro_mobile}}</td></tr>					
					<tr><th>Hospital Departments</th><td>:</td><td><span *ngFor="let department of departments; last as lastone">{{department.department_name}}{{!lastone?', ':''}}</span></td></tr>
					<tr><th>Is Active</th><td>:</td><td>{{hospital.hospital_status?'Yes':'No'}}</td></tr>
				  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
  </div>
